/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.bitcoin-price-component {
	.increased {
		color: red;
		transition: color 0.5s ease-out;
		&::after {
			content: "↑";
		}
	}
	.decreased {
		color: yellow;
		transition: color 0.5s ease-out;
		&::after {
			content: "↓";
		}
	}

	.unchanged {
		color: green;
		transition: color 0.5s ease-out;
		&::after {
			content: "→";
		}
	}
}
